.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
}

img {
  height: 350px;
}

#word {
  font-family: Arial;
  font-size: 100px;
  color: black;
  text-align: center;
}
